@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color */
    --white-color: #FFFFFF;
    --dark-color: #2B2B2B;
    --med-dark-color: #3B3B3B;
    --caption-color: #858584;
    --primary-color: #A259FF;

    /* Font sizes */
    --font-size-s: 0.88rem;
    --font-size-n: 1rem;
    --font-size-m: 1.4rem;
    --font-size-sl: 2.625rem;
    --font-size-l: 3.2rem;
    --font-size-xl: 4.2rem;

    /* Font weight */
    --font-weight-n: 400;
    --font-weight-m: 500;
    --font-weight-sb: 600;
    --font-weight-b: 700;

    /* Border radius */
    --border-radius-s: 10px;
    --border-radius-m: 20px;
    --border-radius-f: 50%;
}

p,h4,h5 {
    color: var(--white-color);
}

h4 {
    font-size: 2rem;
}

p {
    font-size: var(--font-size-n);
}

.rated-artist {
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: flex-start;
    padding: 40px 30px;
    gap: 40px;
}

.section-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ikon {
    width: 20px;
    height: 20px;
}

.btn:hover {
    background-image: linear-gradient(to bottom right, var(--primary-color) 30%, #377DF7 ) ;
    border: transparent;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.artist-card {
    background-color: var(--med-dark-color);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 5px;
    column-gap: 20px;
    padding: 20px;
    width: 100%;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;

    .avatar {
        grid-area: 1/1/3/2 ;
    }

    .artist-id {
        grid-area: 1/2/2/3;
    }

    .total-sales {
        grid-area: 2/2/3/3;
    }

    .rating {
        position: absolute;
        top: 12px;
        left: 12px;
        z-index: 5;
    }

    h5 {
        font-size: var(--font-size-m);
        font-family: "Work Sans", sans-serif;
    }
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: var(--border-radius-f);
    object-fit: cover;

}

.rating {
    background-color: var(--dark-color);
    font-family: "Space Mono";
    color: var(--caption-color);
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-f);
    text-align: center;
    align-content: center;
}

.total-sales {
    p {
        color: var(--caption-color);
    }

    #sales-result {
        font-family: "Space Mono";
        color: var(--white-color);
        text-transform: uppercase;
    }
}

@media screen and (min-width: 768px) {
    .rated-artist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: flex-start;
        padding: 40px 60px;
        gap: 40px;

        .section-heading {
            grid-area: 1/1/2/2;
        }

        .btn .secondary-icon-btn {
            grid-area: 1/2/2/3;
        }

        .card-wrapper {
            grid-area: 2/1/3/3;
        }
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        width: 100%;
        min-width: 315px;
    }

    .btn {
        width: 70%;
        justify-self: flex-end ;
        align-self: flex-end;
    }

    .section-heading p {
        width: max-content;
    }
}

@media screen and (min-width: 912px) {
    .rated-artist {
        padding: 40px 120px;
    }

    .btn {
        width: 100%;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .section-heading p {
        width: max-content;
    }
}

@media screen and (min-width: 1024px) {
    h4 {
        font-size: var(--font-size-sl);
    }
    .rated-artist {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: flex-start;
        padding: 60px 120px;
        gap: 40px;

        .section-heading {
            grid-area: 1/1/2/3;
        }

        .btn .secondary-icon-btn {
            grid-area: 1/3/2/4;
        }

        .card-wrapper {
            grid-column: 1/4;
            grid-row: 2/3;
        }
    }

    .btn {
        width: 100%;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .artist-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 5px;
    }

    .avatar {
        width: 120px;
        height: 120px;
    }

}

@media screen and (min-width: 1200px) {
    h4 {
        font-size: var(--font-size-sl);
    }
    .rated-artist {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: flex-start;
        padding: 80px 120px;
        gap: 40px;

        .section-heading {
            grid-area: 1/1/2/4;
        }

        .btn .secondary-icon-btn {
            grid-area: 1/4/2/5;
        }

        .card-wrapper {
            grid-column: 1/5;
            grid-row: 2/3;
        }
    }

    .btn {
        width: 100%;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .artist-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 5px;
    }

    .avatar {
        width: 120px;
        height: 120px;
    }

}

