@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color */
    --white-color: #FFFFFF;
    --dark-color: #2B2B2B;
    --med-dark-color: #3B3B3B;
    --caption-color: #858584;
    --primary-color: #A259FF;

    /* Font sizes */
    --font-size-s: 0.88rem;
    --font-size-n: 1rem;
    --font-size-m: 1.4rem;
    --font-size-sl: 2.625rem;
    --font-size-l: 3.2rem;
    --font-size-xl: 4.2rem;

    /* Font weight */
    --font-weight-n: 400;
    --font-weight-m: 500;
    --font-weight-sb: 600;
    --font-weight-b: 700;

    /* Border radius */
    --border-radius-s: 10px;
    --border-radius-m: 20px;
    --border-radius-f: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-sl);
}

p {
    font-size: var(--font-size-n);
    line-height: 140%;
}

h5 {
    font-family: "Space Mono";
    font-size: var(--font-size-m);
    line-height: 160%;
    font-weight: var(--font-weight-b);
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;    
}

.fa-regular {
    width: 20px;
    height: 20px;
}

.primary-icon-btn {
    font-family: "Work Sans";
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-sb);
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 60px;
    width: 100%;
    min-width: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: auto;
}

.secondary-icon-btn {
    font-family: "Work Sans";
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-sb);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    height: 60px;
    width: 100%;
    min-width: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: auto;
}

.artist-info {
    color: var(--white-color);
    background-color: var(--dark-color);
    padding: 40px 72px;
    row-gap: 30px;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "title title ."
        "button-grp button-grp ."
        "achievement achievement ."
        "bio bio ."
        "link link ."
    ;
}

.title {grid-area: title;}
.button-grp {grid-area: button-grp;}
.achievement {grid-area: achievement;}
.bio-wrapper {grid-area: bio;}
.links-wrapper {grid-area: link}

.button-grp,
.achievement {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.numb,
.bio-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bio-title {
    color: var(--caption-color);
    font-family: "Space Mono", sans-serif;
    font-size: var(--font-size-n);
}

.links-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: fit-content;

    p {
        grid-area: 1/ span 4;
    }

    .community-icon {
        width: 32px;
        height: 32px;
    }
}

@media  screen and (max-width: 560px) {
    .artist-info {
        display: grid;
        grid-template-columns: 1fr;
        padding: 40px 30px;
    }

    h3 {
        font-size: 2rem;
    }

    .button-grp {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .artist-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px 115px;
        gap: 30px;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
                "title button-grp"
                "achievement ."
                "bio ."
                "link ."
            ;
        }

    h3 {
        font-size: var(--font-size-l);
    }
    
}

