@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-width: 1200px;
  width: 100vw;
}

:root {
  --primary-color: #7200b8;

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  p {
    font-size: 0.875rem;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
  }

  ul li {
    list-style-type: none;
  }
}

.navBar,
.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  padding: 40px 40px 45px 40px;
  width: 100%;
  height: fit-content;
  position: relative;

  .avatar {
    width: 60px;
    height: 60px;
  }

  .noti-icon {
    width: 24px;
    height: 24px;
  }

  .noti-icon:hover {
    outline-offset: 4px;
    outline: 2px solid var(--primary-color);
    border-radius: 50%;
  }

  .userName {
    color: var(--primary-color);
  }

  h1.logo {
    white-space: nowrap;
  }
}

.navMenu {
  width: max-content;
  gap: 40px;
}

.navItem {
  color: black;
  border-bottom: 2px solid transparent;
}

.navItem:hover {
  border-bottom: 2px solid var(--primary-color);
}

main {
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  padding: 0 40px;
  justify-content: space-between;
  width: 100%;
  height: max-content;
}

.sideBar,
.sideTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.sideBar {
  width: 254px;
  height: 783px;
  background-color: black;
  border-radius: 10px;
  padding: 58px 25px 105px 25px;
}

.sideTop {
  gap: 50px;
}

.sideItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: white;
  width: 100%;

  .icon {
    width: 25px;
    height: 25px;
  }
}

.sideActive {
  padding: 20px 10px;
  background-color: #a717fe;
  border-radius: 10px;
}

.display {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.display-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .review-btn {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #7200b8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 500;
  }
}

.content-1,
.content-2,
.content-3,
.content-6,
.content-7 {
  color: white;
  background-color: black;
  padding: 30px 20px;
  border-radius: 10px;
  height: max-content;
}

.display-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr auto 1fr;
  row-gap: 44px;
  column-gap: 40px;

  .content-1 {
    grid-column: 1 / span 2;
    grid-row: 1/2;
  }
  .content-2 {
    grid-column: 3 / span 2;
    grid-row: 1/2;
  }
  .content-3 {
    grid-column: 5 / span 2;
    grid-row: 1/2;
    margin-right: 144px;
  }
  .main-content {
    grid-column: 1 / span 5;
    grid-row: 2/3;
  }
  .content-6 {
    grid-column: -1;
    grid-row: 2/3;
  }
  .content-7 {
    grid-column: 1/6;
    grid-row: 3/4;
  }
}

.content-7 {
  width: calc(100% - 300px);
  margin-top: -58px;
  justify-self: center;
}

.content-4,
.content-5 {
  color: white;
  background-color: black;
  padding: 30px 20px;
  border-radius: 15px;
  width: 100%;
  height: 321px;
  align-content: center;
}

.content-6,
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: max-content;
  gap: 10px;
}

.content-6 {
  padding: 19px 28px 21px 28px;
  max-width: 300px;
  width: 100%;
  height: 500px;
  align-items: center;

  h2 {
    padding: 10px;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin-top: 53px;
  width: 100%;
}

.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-7 {
  text-align: center;
}

.content-4,
.content-5,
.content-6,
.content-7 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* chat bots */
.chatBot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: fixed;
  right: 40px;
  bottom: 53px;

  h4 {
    color: var(--primary-color);
    opacity: 50%;
    width: max-content;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

/* background deco*/
.reg-15,
.reg-16,
.reg-19 {
  position: absolute;
  z-index: -1;
}

.reg-15 {
  top: 289px;
  right: 8px;
}
.reg-16 {
  top: 10px;
  right: 348px;
}
.reg-19 {
  top: 274px;
  right: 576px;
}
